/* 
**
*** PÁGINA DE PROJETOS
*** SINGLE DE PROJETO
**
*/

/* PÁGINA DE PROJETOS */
.pg-projetos{}
	.pg-projetos .menu-filtro{
		padding: 27px 0;
	}
		.pg-projetos .menu-filtro form{
			font-size: 0;
		}
			.pg-projetos .menu-filtro form input, .pg-projetos .menu-filtro form .div-input-enviar{
				display: inline-block;
				font-size: 14px;
				width: 100%;
				vertical-align: middle;
			}
			.pg-projetos .menu-filtro form input{
				outline: none;
				padding: 0 6px 10px 6px;
				border: none;
				border-bottom: 1px solid #000;
				background-color: transparent;
			}
			.pg-projetos .menu-filtro form input[type="text"]{
				max-width: 93%;
				font-family: var(--roboto);
			}
			.pg-projetos .menu-filtro form .div-input-enviar{
				max-width: 7%;
			}
				.pg-projetos .menu-filtro form .div-input-enviar input{
					background-image: url(../img/search@1,5x.svg);
					background-repeat: no-repeat;
					background-position: top, center;
					background-size: 20px;
				}
		.pg-projetos .menu-filtro .filtros{
			text-align: right;
			padding: 3px 0;
		}
			.pg-projetos .menu-filtro .filtros select, .pg-projetos .menu-filtro .filtros .modelo{

			}
			.pg-projetos .menu-filtro .filtros select{
				font-family: var(--roboto);
				font-size: 11px;
				font-weight: 500;
				letter-spacing: 3px;
				color: #000;
				text-transform: uppercase;
				border: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				-o-appearance: none;
				outline: none;
				text-align: left;
				background-image: url(../img/chevron_down_black@1,5x.svg);
				background-repeat: no-repeat;
				background-position: right, center;
				background-size: 13px;
				padding-right: 38px;
			}
			.pg-projetos .menu-filtro .filtros .modelo{
				margin-left: 44px;
			}
				.pg-projetos .menu-filtro .filtros .modelo img{
					width: 100%;
					cursor: pointer;
					opacity: .5;
				}
				.pg-projetos .menu-filtro .filtros .modelo img.modelo-active{
					opacity: 1;
				}
				.pg-projetos .menu-filtro .filtros .modelo img.list{
					max-width: 19px;
				}
				.pg-projetos .menu-filtro .filtros .modelo img.grid{
					max-width: 18px;
				}
	.pg-projetos .secao-projetos{
		padding: 50px 0 150px;
		background-color: var(--cinza-fundo);
	}
		.pg-projetos .secao-projetos .lista-projetos{}
			.pg-projetos .secao-projetos .lista-projetos li{
				margin: 0 0 25px;
				display: block;
				width: 100%;
				-webkit-transition: ease-in-out .1s;
				-moz-transition: ease-in-out .1s;
				-ms-transition: ease-in-out .1s;
				-o-transition: ease-in-out .1s;
				transition: ease-in-out .1s;
			}
			.pg-projetos .secao-projetos .lista-projetos li:hover{
				-webkit-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
				-moz-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
				-ms-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
				-o-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
			}
				.pg-projetos .secao-projetos .lista-projetos li .link-imagem-projeto{}
					.pg-projetos .secao-projetos .lista-projetos li .link-imagem-projeto figure{}
						.pg-projetos .secao-projetos .lista-projetos li .link-imagem-projeto figure img{
							width: 100%;
							max-width: 100%;
						}
					.pg-projetos .secao-projetos .lista-projetos li .link-imagem-projeto .nome-projeto{
						display: none;
					}
				.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto{
					padding: 55px 56px;
					border: 1px solid rgba(151, 151, 151, 0.5);
					-webkit-transition: ease-in-out .1s;
					-moz-transition: ease-in-out .1s;
					-ms-transition: ease-in-out .1s;
					-o-transition: ease-in-out .1s;
					transition: ease-in-out .1s;
				}
				.pg-projetos .secao-projetos .lista-projetos li:hover .sobre-projeto{
					border-color: #fff;
					background-color: #fff;
				}
					.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .nome-projeto, .pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .info-projeto{
						display: inline-block;
						width: 100%;
						max-width: 49%;
						vertical-align: top;
					}
					.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .nome-projeto{
						padding-right: 2%;
					}
						.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .nome-projeto .titulo{
							font-size: 18px;
							line-height: 26px;
							text-transform: capitalize;
						}
					.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .info-projeto{}
						.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .info-projeto li{
							display: block;
							font-family: var(--roboto);
							font-size: 11px;
							font-weight: 500;
							letter-spacing: 3px;
							color: #000;
							margin: 0 0 20px;
							text-transform: uppercase;
							padding-left: 35px;
							position: relative;
						}
						.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .info-projeto li:last-child{
							margin: 0;
						}
						.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .info-projeto li::before{
							content: '';
							position: absolute;
							top: 50%;
							left: 0;
							width: 20px;
							height: 12px;
							display: block;
							background-image: url(../img/check@1,5x.svg);
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
						}
		.pg-projetos .secao-projetos .grid-projetos{
			font-size: 0;
		}
			.pg-projetos .secao-projetos .grid-projetos li{
				margin: 0 0 25px;
				width: 100%;
				display: inline-block;
				max-width: 31.7%;
				box-shadow: none !important;
			}
			.pg-projetos .secao-projetos .grid-projetos li.evento-centro{
				margin: 0 2.4% 25px;
			}
			.pg-projetos .secao-projetos .grid-projetos li .col-md-8{
				display: none;
			}
				.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto{
					position: relative;
					display: block;
				}
					.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto figure{}
						.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto figure img{
							width: 100%;
							max-width: 100%;
						}
					.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto .nome-projeto{
						display: block;
						opacity: 0;
						position: absolute;
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						-o-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						width: 101%;
						height: 101%;
						text-align: center;
						background-color: #fff;
						padding: 55px 0;
						-webkit-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
						-moz-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
						-ms-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
						-o-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
						-webkit-transition: ease-in-out .1s;
						-moz-transition: ease-in-out .1s;
						-ms-transition: ease-in-out .1s;
						-o-transition: ease-in-out .1s;
						transition: ease-in-out .1s;
					}
					.pg-projetos .secao-projetos .grid-projetos li:hover .link-imagem-projeto .nome-projeto{
						opacity: 1;
					}
						.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto .nome-projeto .titulo{
							font-size: var(--font-size-texto);
							line-height: 20px;
							text-transform: unset;
							margin: 0 0 20px;
						}
						.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto .nome-projeto img{
							width: 100%;
							max-width: 20px;
						}
				.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto{
					padding: 55px 56px;
					border: 1px solid rgba(151, 151, 151, 0.5);
				}
					.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .nome-projeto, .pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .info-projeto{
						display: inline-block;
						width: 100%;
						max-width: 49%;
						vertical-align: top;
					}
					.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .nome-projeto{
						padding-right: 2%;
					}
						.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .nome-projeto .titulo{
							font-size: 18px;
							line-height: 26px;
							text-transform: capitalize;
						}
					.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .info-projeto{}
						.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .info-projeto li{
							display: block;
							font-family: var(--roboto);
							font-size: 11px;
							font-weight: 500;
							letter-spacing: 3px;
							color: #000;
							margin: 0 0 20px;
							text-transform: uppercase;
							padding-left: 35px;
							position: relative;
						}
						.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .info-projeto li:last-child{
							margin: 0;
						}
						.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .info-projeto li::before{
							content: '';
							position: absolute;
							top: 50%;
							left: 0;
							width: 20px;
							height: 12px;
							display: block;
							background-image: url(../img/check@1,5x.svg);
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
						}
	.pg-projetos .anuncio{
		margin: 50px 0;
	}
/* PÁGINA DE PROJETOS */


/* SINGLE DE PROJETO */
.pg-projeto{}
	.pg-projeto .secao-destaque-single{
		background-image: url(../img/projetos_carrossel_img.png);
		height: 300px;
	}
	.pg-projeto .secao-sobre-projeto{
		background-color: var(--cinza-fundo);
	}
		.pg-projeto .secao-sobre-projeto article{
			margin: 0 !important;
		}
			.pg-projeto .secao-sobre-projeto article .titulo{}
			.pg-projeto .secao-sobre-projeto article .sobre-projeto{}
				.pg-projeto .secao-sobre-projeto article .sobre-projeto .subtitulo{}
				.pg-projeto .secao-sobre-projeto article .sobre-projeto p{
					margin: 20px 0 0 !important;
				}
				.pg-projeto .secao-sobre-projeto article .sobre-projeto .div-button-padrao{}
					.pg-projeto .secao-sobre-projeto article .sobre-projeto .div-button-padrao .button-padrao{}
			.pg-projeto .secao-sobre-projeto article ul{}
				.pg-projeto .secao-sobre-projeto article ul li{}
	.pg-projeto .secao-galeria-projeto{
		background-color: var(--cinza-fundo);
		padding: 0 0 64px;
	}
		.pg-projeto .secao-galeria-projeto .lista-fotos{
			font-size: 0;
		}
			.pg-projeto .secao-galeria-projeto .lista-fotos li{
				display: inline-block;
				width: 100%;
				max-width: 31.7%;
				margin-bottom: 30px;
				vertical-align: top;
			}
			.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image{
				max-width: 65.9%;
				height: 362px;
				overflow: hidden;
			}
			.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image-left{
				margin-right: 2.4%;
			}
			.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image-right{
				margin-left: 2.4%;
			}
				.pg-projeto .secao-galeria-projeto .lista-fotos li figure{}
					.pg-projeto .secao-galeria-projeto .lista-fotos li figure img{
						width: 100%;
						max-width: 100%;
					}
	.pg-projeto .anuncio{
		padding: 50px 0;
		background-color: var(--cinza-fundo);
	}
	.pg-projeto .proximos-projetos{
		/*position: relative;*/
	}
	/*.pg-projeto .proximos-projetos::before, .pg-projeto .proximos-projetos::after{
		content: '';
		position: absolute;
		top: 50%;
		width: 50%;
		height: 100%;
		display: block;
		background-color: #161616;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: ease-in-out .1s;
		-moz-transition: ease-in-out .1s;
		-ms-transition: ease-in-out .1s;
		-o-transition: ease-in-out .1s;
		transition: ease-in-out .1s;
	}
	.pg-projeto .proximos-projetos::before{
		left: 0;
	}
	.pg-projeto .proximos-projetos::after{
		right: 0;
	}*/
		.pg-projeto .proximos-projetos .paginador{
			font-size: 0;
			position: relative;
		}
		.pg-projeto .proximos-projetos .paginador::before{
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			display: block;
			width: 1px;
			height: 100%;
			background-color: var(--cinza-fundo);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
		}
			.pg-projeto .proximos-projetos .paginador li{
				display: inline-block;
				width: 100%;
				max-width: 50%;
			}
			.pg-projeto .proximos-projetos .paginador li.arrow-right{
				text-align: right;
			}
				.pg-projeto .proximos-projetos .paginador li a{
					display: block;
					padding: 45px 0;
				}
					.pg-projeto .proximos-projetos .paginador li a .seta-paginador, .pg-projeto .proximos-projetos .paginador li a figure, .pg-projeto .proximos-projetos .paginador li a .nome-projeto{
						display: inline-block;
						width: 100%;
						max-width: fit-content;
						vertical-align: middle;
					}
					.pg-projeto .proximos-projetos .paginador li a .seta-paginador{}
						.pg-projeto .proximos-projetos .paginador li a .seta-paginador img{
							width: 100%;
							max-width: 22px;
						}
					.pg-projeto .proximos-projetos .paginador li a figure{
						height: 90px;
						overflow: hidden;
						max-width: 170px;
						margin: 0 35px;
					}
						.pg-projeto .proximos-projetos .paginador li a figure img{
							width: auto;
							height: 100%;
						}
					.pg-projeto .proximos-projetos .paginador li a .nome-projeto{}
						.pg-projeto .proximos-projetos .paginador li a .nome-projeto .titulo{
							font-size: var(--font-size-texto);
							line-height: 20px;
							text-transform: unset;
						}
/* SINGLE DE PROJETO */