/* PÁGINA SERVIÇOS */
.pg-servicos{}
	.pg-servicos section.servico-destaque{
		min-height: 513px;
		background-size: 1545.1px;
		background-repeat: no-repeat!important;
		padding-top: 115px;
		background-position: center;
		background-color: #12151a;
	}
		.pg-servicos section.servico-destaque .servico-destaque-texto{}
			.pg-servicos section.servico-destaque .servico-destaque-texto h3.titulo{
				color: #fff;
				font-size: var(--font-size-titulo-destaque);
				line-height: var(--line-height-titulo-destaque);
			}
			.pg-servicos section.servico-destaque .servico-destaque-texto p{
				color: #fff;
				margin: 20px 0 32px;
				opacity: 0.8;
				font-size: var(--font-size-texto);
				line-height: var(--line-height-texto);
			}
		.pg-servicos section.servico-destaque>figure{
			display: none;
		}
			.pg-servicos section.servico-destaque figure img{}
			.pg-servicos section.servico-destaque figure figcaption{}
		.pg-servicos section.servico-destaque nav.servico-destaque-menu{
			max-width: 1200px;
			width: 100%;
			padding-top: 86px;
		}
			.pg-servicos section.servico-destaque nav.servico-destaque-menu hr{
				margin: 0;
				border: none;
				height: 1px;
				width: 100%;
				opacity: 0.1;
				background-color: #FFFFFF;
			}
			.pg-servicos section.servico-destaque nav.servico-destaque-menu ul{
			    height: 136px;
			    font-size: 0;
			}
				.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li{
					width: 12.49%;
					text-align: center;
					vertical-align: top;
					opacity: 0.5;
					background: linear-gradient(180deg, rgba(19,22,27,0) 0%, #13161B 100%);
					min-height: 136px;
				}
					.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li:before{
						content: "";
						display: block;
						width: 100%;
						height: 5px;
						background:transparent;
					}
						.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li:hover:before{
							background:#fff;
						}
					.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li:hover{
						opacity:1;
						background: transparent;
					}
					.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li.ativo:before{
							background:#fff;
						}
					.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li.ativo {
						opacity:1;
						background: transparent;
					}
					.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li a{
						padding-top: 38px;
						display: block;
						text-decoration: none;
					}
						.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li a figure{
							display: block;
							max-width: 39px;
							height: 39px;
							margin:0 auto;
							margin-bottom:16px;
						}
							.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li a img{
								display:block;
								width: 100%;
								height: auto;
							}
							.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li a h3{
								
								color: #FFFFFF;
								
								font-size: 10px;
								line-height: 11px;
								text-transform: uppercase;
								font-size: 10px;
								font-weight: 300;
							}
	.pg-servicos  .areaServicos{
		display: none;
	}
	.pg-servicos  .areaServicos.ativo{
		display: block;
	}
	.pg-servicos section.servico-lista{
		max-width: 1347px;
		margin: 0 auto;

	}
		.pg-servicos section.servico-lista .servico-lista-foto{
			
		}
			.pg-servicos section.servico-lista .servico-lista-foto figure{
			
			}
				.pg-servicos section.servico-lista .servico-lista-foto figure img{
					display: inline-block;
					width: 100%;
				    max-width: 674px;
					height: auto;
				}
				.pg-servicos section.servico-lista .servico-lista-foto figure figcaption{
			
				}
			.pg-servicos section.servico-lista .servico-lista-texto{
		
			}
				.pg-servicos section.servico-lista .servico-lista-texto article{
					padding-top: 59px;
					padding-left: 59px;
				}
					.pg-servicos section.servico-lista .servico-lista-texto article h2{
						color: #000000;	
						font-family: var(--michroma);	
						font-size: var(--font-size-titulo);	
						line-height: var(--line-height-titulo);
						text-transform: uppercase;
						padding-bottom: 40px;
					}
					.pg-servicos section.servico-lista .servico-lista-texto article>p{
						opacity: 0.5;	
						color: #000000;	
						font-family: var(--roboto);	
						font-size: var(--font-size-texto);	
						line-height: var(--line-height-texto);
						margin-bottom: 49px;
						max-width: 540px;
					}
					.pg-servicos section.servico-lista .servico-lista-texto article ul{
						margin-bottom: 49px;
					}
						.pg-servicos section.servico-lista .servico-lista-texto article ul li{
							color: #000000;	
							font-family: var(--roboto);		
							font-size: 12px;	
							font-weight: 500;	
							letter-spacing: 3.05px;	
							line-height: 14px;
							display: block;
							padding-left: 44px;
							position: relative;
							padding-bottom: 23px;
						}
							.pg-servicos section.servico-lista .servico-lista-texto article ul li:before{
								content: "";
								display: block;
								background-image: url(../img/check.png);	
								background-repeat: no-repeat;
								height: 12px;	
								width: 17px;	
								position: absolute;
								top:0;
								left: 0;

							}
							.pg-servicos section.servico-lista .servico-lista-texto article ul li p{
								text-transform: uppercase;
							}
				.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos{
					padding-left: 59px;
				}	
					.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos h4{
						opacity: 0.5;	
						color: #000000;	
						font-family: var(--roboto);		
						font-size: 12px;	
						font-weight: 500;	
						letter-spacing: 3.05px;	
						line-height: 14px;
						text-transform: uppercase;
					}
						.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul{
							font-size: 0;
							padding-top: 24px;
						}
							.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li{
								height: 95px;
								display: inline-block;
								width: 100%;	
								max-width: 181px;
								padding:0 10px;
							}
								.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li a{

								}
									.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li a figure{

									}
										.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li a figure img{
											width: 100%;
										}
										.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li a figure figcaption{

										}





































































































































































































































































































































































































































































































































































































































































































































































































































































































































































					